body, p, h1, ul, li, blockquote {
    padding: 0rem;
    margin: 0rem;
}

body {
    font-family: "Vollkorn", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
    border-radius: 0.3125rem;
    display: block;
}

.estrutura {
    display: grid;
    grid-template-columns: minmax(10rem ,1fr) 3fr 18.75rem;
    grid-template-areas: 
        "header header header" 
        "sidenav content ads"
        "footer footer footer"
    ;
}

@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas: 
            "header header header" 
            "sidenav content content" 
            "sidenav ads ads" 
            "footer footer footer"
            ;
    }
}

@media (max-width: 760px) {
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "sidenav"
            "content" 
            "ads" 
            "footer"
            ;
    }
}

.main-header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 1.875rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.main-header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}

.main-header nav a {
    display: block;
    padding: 0.625rem;
    color: white;
    font-size: 1.125rem;
    background: rgba(0, 0, 0, .1);
    border-radius: 0.3125rem;
    transition: 0.1s;
}

.main-header nav a:hover {
    background: rgba(0, 0, 0, .5);
}

@media (max-width: 760px) {
    .main-header {
        grid-template-columns: auto;
    }

    .logo {
        margin-bottom: 1.25rem;
    }

    .main-header nav a {
        font-size: 1rem;
    }
    
    .main-header nav ul {
        gap: 0.625rem;
    }
}

.logo {
    max-width: 12.5rem;
}

.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 1.125rem;
}

.sidenav li a {
    display: block;
    min-width: 3.75rem;
    max-width: 6.25rem;
    margin: 0 auto 1.125rem auto;
    background: white;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem 0rem rgba(44, 44, 44, 0.15);
    transition: 0.1s ease-out;
}

.sidenav li a:hover {
    background: #B07DFB;
}

@keyframes arrow {
    from {
        right: 1.875rem;
    }
    to {
        right: 1.25rem;
    }
}

@media (max-width: 760px) {
    .sidenav {
        padding: 0 1.875rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        position: relative;
    }

    .sidenav::after {
        content: '\2192';
        position: absolute;
        top: 0.3125rem;
        right: 1.875rem;
        color: rgba(0, 0, 0, .3);
        animation: arrow .5s ease-in 0s infinite alternate;
    }

    .sidenav ul {
        display: flex;
    }

    .sidenav li {
        flex: 1 0 3.75rem;
    }

    .sidenav li a {
        margin: 1.875rem 1.875rem 1.875rem 0;
    }
}

.content {
    grid-area: content;
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 1.875rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.875rem;
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}

.wide-content {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: 3 / span 2;
    align-self: flex-end;
}

.imagem-2 {
    align-self: flex-end;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.infos p + p {
    margin-top: 1.875rem;
}

.title {
    color: #B07DFB;
}

.title h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: bold;
}

.title span {
    font-size: 0.875em;
    font-style: italic;
}

.caracteristicas {
    display: flex;
    align-items: flex-start;
}

.caracteristicas > div {
    width: 5rem;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem 0rem rgba(44, 44, 44, 0.15);
    position: relative;
}


.caracteristicas > div:first-child {
    margin-right: 1.875rem;
}

.caracteristicas span {
    display: block;
    color: #B07DFB;
}

.numero {
    color: #B07DFB;
    font-size: 3em;
    line-height: 1;
    margin: 0.625rem auto;
}

.rotulo {
    background: white;
    border-radius: 0 0 0.3125rem 0.3125rem;
    padding: 0.3125rem 0;
    position: relative;
    top: 0.125rem;
}

.destaque {
    font-size: 0,875rem;
    color: #B07DFB;
    max-width: 16em;
}

.cite, .atributes {
    align-self: start;
    padding: 1.875rem;
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem 0rem rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.cite p {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    color: white;
    max-width: 31.25rem;
    margin: 0 auto;
}

.atributes li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
    padding: 0.9375rem;
}

.atributes li + li {
    border-top: 0.125rem solid #B07DFB;
}


.ads {
    grid-area: ads;
    background: #fafbfc;
    display: grid;
    align-content: flex-start;
    padding: 1.875rem;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
}

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.footer p {
    color: white;
    text-align: center;
    padding: 1.875rem;
}